@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 700;
  font-size: 20px;
  color: hsl(218, 44%, 22%);
}

p {
  font-weight: 400;
  font-size: 14px;
  color: hsl(222, 15%, 55%);
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border-radius: 10px;
}

.QR {
  margin: auto;
}
.card {
  background-color: white;
  width: 250px;
  height: 400px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.info {
  text-align: center;
  padding: 5px;
}
